/* MD - TABLETS: 576px - 768px */

@media (max-width: 43.1rem) {
    html {
        font-size: 43.75%;
        /* 7px / 16px = 43.75% */
    }

    .container {
        max-width: 500px;
        margin: 6rem auto;

    }

    img {
        width: 65rem;
    }
}

/* small - phone: 375 - 576px */

@media (max-width: 30rem) {
    html {
        font-size: 37.5%;
        /* 6px / 16px = 37.5% */
    }

    .container {
        max-width: 350px;
        margin: 4.5rem auto;
    }

    img {
        width: 50rem;
    }
}